.custom-margin{
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;
 }
 .custom-margin-1{
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;

 }
 .custom-margin-2{
    margin-left: 20px;
    display: inline-block;
    white-space: nowrap;
 }
 .custom-margin-3{ 
    margin-right: 480px;
    margin-left: auto;
    display: inline-block;
  white-space: nowrap;
 }
 .custom-margin-4{
   margin-right: 120px;
   margin-top: 50px;
    display: inline-block;
    white-space: nowrap;
 }

 .card{
   background-color:#FAFAFA;
   border-color: black;
 }
